extends layout

block content
  header.masthead
    .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1 Direct Message(under construction)